.draftBtn {
  padding: 4px 0 4px 5px;
  font-size: 15px;
}

.draftContent {
  width: 350px;

  .containerClassName {
    max-height: 300px;

    .wrapClassName {
      padding: 0;
    }
  }

  .draftList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
  }
}
