@import '~@styles/common.less';

.player {
  position: fixed;
  bottom: 64px;
  right: 26px;
  width: 278px;
  z-index: 99;

  /* 歌曲信息模块 */
  .playerContent1 {
    position: absolute;
    left: 10px;
    bottom: 70px;
    width: 260px;
    height: 80px;
    background: rgb(209, 226, 245);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: top 0.3s ease;

    .nameInfo {
      width: 100%;
      padding: 0 10px;

      .musicName,
      .artistName {
        height: 20px;
        margin-top: 5px;
        font-size: 14px;
        text-align: right;
      }
      .artistName {
        font-size: 12px;
        color: #656565;
      }
    }

    .time {
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 6px;
      right: 0;
      font-size: 12px;
      height: 20px;
      margin: 5px 0;
      width: calc(260px - 120px);
      padding: 0 10px;

      .currentTime {
        float: left;
      }
      .totalTime {
        float: right;
      }
      .currentTime,
      .totalTime {
        font-size: 12px;
        line-height: 28px;
        transition: 0.3s ease all;
      }
    }

    .sArea {
      position: absolute;
      height: 6px;
      border-radius: 6px;
      width: 140px;
      max-width: 140px;
      margin-left: 120px;
      bottom: 0;
      background-color: #afcbc2;
      cursor: pointer;

      &:hover {
        .sHover {
          display: block;
          height: 6px;
          border-radius: 6px;
          background-color: @menu-deep;
          z-index: 9;
        }

        .insTime {
          display: block;
          position: absolute;
          top: -20px;
          background-color: #e8f5ff;
          font-size: 12px;
          white-space: pre;
          padding: 0 6px;
          border-radius: 5px;
          z-index: 9;
        }
      }

      .seekBar {
        height: 6px;
        border-radius: 6px;
        background-color: @menu-active;
        z-index: 9;
        width: 0;
      }

      .sHover {
        width: 0;
        display: none;
      }

      .insTime {
        left: 0;
        display: none;
      }
    }
  }

  &.active {
    top: -85px;
  }

  .time.active .currentTime,
  .time.active .totalTime {
    color: rgb(54, 127, 196);
    background-color: transparent;
  }

  .playerContent2 {
    position: relative;
    width: 278px;
    height: 70px;

    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 60px #c9c9c9;

    /* 左侧封面图模块 */
    .musicImgs {
      position: absolute;
      top: -42px;
      width: 90px;
      height: 90px;
      margin-left: 30px;
      transform: rotateZ(0);
      transition: 0.3s ease all;
      box-shadow: 0 0 0 10px #fff, 0px -10px 10px 0px #c9c9c9;
      // box-shadow: 0 0 0 10px #fff, 0px -10px 60px 0px #c9c9c9;
      border-radius: 110px;
      overflow: hidden;

      .img {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .cover {
          width: 90px;
          height: 90px;
        }

        .coverRotate {
          animation: rotate 3s linear 0s infinite forwards;
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        width: 20px;
        height: 20px;
        margin: -10px auto 0 auto;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: inset 0 0 0 2px @menu-hover;
        z-index: 2;
      }
    }

    /* 左侧封面图模块添加了active类名 */
    .musicImgs.active {
      top: -50px;
      box-shadow: 0 0 0 4px #e8f5ff, 0 30px 50px -15px #afb7c1;

      /* 封面图模块添加了active类名后，图片div的样式添加 */
      &.img {
        z-index: 1;
        -webkit-animation: rotateAlbumArt 3s linear 0s infinite forwards;
        animation: rotateAlbumArt 3s linear 0s infinite forwards;
      }
    }

    .bufferBox {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      height: 13px;
      color: #1f1f1f;
      font-size: 13px;
      font-family: Helvetica;
      text-align: center;
      font-weight: bold;
      line-height: 1;
      padding: 6px;
      margin: -12px auto 0 auto;
      background-color: rgba(255, 255, 255, 0.19);
      opacity: 0;
      z-index: 2;
    }

    .playerControls {
      position: absolute;
      top: 16px;
      left: 140px;

      .btn {
        float: left;
        width: 40px;
        height: 36px;
        line-height: 36px;
        font-size: 24px;
        color: #d6dee7;
        text-align: center;

        .play,
        .prev,
        .next {
          color: @menu-active;
          font-size: 24px;
          cursor: pointer;
        }

        .prev,
        .next {
          font-size: 20px;
        }
      }

      .prevBtn,
      .nextBtn {
        line-height: 33px;
      }
    }
  }

  .musicImgs .img,
  .bufferBox {
    transition: 0.1s linear all;
  }

  .musicImgs.buffering .img {
    opacity: 0.25;
  }

  .musicImgs.buffering .img.active {
    opacity: 0.8;
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }

  .musicImgs.buffering .bufferBox {
    opacity: 1;
  }
}

@-webkit-keyframes rotateAlbumArt {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes rotateAlbumArt {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 960px) {
  .player {
    left: 6px;
  }
}
