@import '~@styles/common.less';

.tocWrap {
  width: 260px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: @fff;
  border-radius: 5px;

  :global {
    .active-toc {
      margin-top: 7px;

      .md-editor-catalog-active {
        position: relative;

        &::before {
          position: absolute;
          left: 0;
          top: 5px;
          content: '';
          width: 4px;
          height: 18px;
          border-radius: 0 5px 5px 0;
          background-color: #73d13d;
        }
      }
    }

    .md-editor-catalog-indicator {
      display: none;
    }

    .md-editor-catalog-container {
      .active-toc;
      margin-top: 0;

      .md-editor-catalog-wrapper {
        & > .md-editor-catalog-link:first-of-type {
          padding-top: 5px;
        }

        .active-toc;

        .md-editor-catalog-active {
          &::before {
            left: -14px;
          }
        }

        .md-editor-catalog-wrapper {
          .active-toc;

          .md-editor-catalog-active {
            &::before {
              left: -28px;
            }
          }

          .md-editor-catalog-wrapper {
            .active-toc;

            .md-editor-catalog-active {
              &::before {
                left: -42px;
              }
            }

            .md-editor-catalog-wrapper {
              .active-toc;

              .md-editor-catalog-active {
                &::before {
                  left: -56px;
                }
              }
            }
          }
        }
      }
    }
  }

  .mackNav {
    border-radius: 5px;

    .scrollbar {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      & > :first-child {
        &::-webkit-scrollbar {
          display: none;
        }
        // 如何禁止子元素滚动触发父元素滚动
        overscroll-behavior: contain;
      }
    }
  }

  .tocText {
    font-weight: 500;
    font-size: 16px;
    color: #1d2129;
    border-bottom: 1px solid @background;
    padding: 10px;
  }

  .tocList {
    text-align: left;
    background-color: @fff;
  }
}

.dark {
  background-color: @dark-bgc-deep;

  .mackNav {
    background-color: @dark-bgc-deep;
  }

  .tocText {
    border-bottom: 1px solid @dark-gray;
    color: @dark-fc;
  }

  .tocList {
    background-color: @dark-bgc-deep;
  }
}

@media screen and (max-width: 960px) {
  .tocWrap {
    display: none;
  }
}
