.detailContainer {
  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 10px 0 0;
    background-color: #efefef !important;

    .preview {
      width: calc(100% - 260px);
      height: auto;
      max-width: 700px;
      background-color: #fff;
      padding: 20px 20px 10px 20px;
      border-radius: 5px;
    }
  }

  .wrapClassName{
    padding-right: 0;
  }
}
