@import '~@styles/common.less';

.webkitScrollbarStyle();

.AuthorContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 6px 8px;

  &::after {
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #fff;
  }

  .headerWrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    align-items: center;
    z-index: 99;

    .headerContent {
      display: flex;
      justify-content: flex-start;

      .menuList {
        margin-left: 30px;
        font-weight: 400;
        font-size: 16px;

        span {
          margin-right: 30px;
          cursor: pointer;
        }
      }
    }
  }

  .wrap {
    padding: 60px 10% 0;
    background-color: @background !important;
    min-height: calc(100vh - 70px);

    .infoWrap {
      position: relative;
      width: 100%;
      height: auto;
      margin-bottom: 10px;
      background-color: #fff;
      border-radius: 5px;

      .mainCover {
        width: 100%;

        .imageWrapStyle {
          border-radius: 0;
        }

        .image {
          width: 100%;
          height: auto;
          max-height: 265px;
        }
      }

      .headImg {
        position: absolute;
        bottom: 0;
        left: 20px;
        width: 150px;
        height: 150px;
        border: 5px solid #fff;

        .image {
          width: 100%;
          height: auto;
        }
      }

      .mainInfo {
        width: 100%;
        height: 100px;
        padding-left: 200px;
      }
    }

    .content {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      overflow: hidden;
      padding-bottom: 10px;
      height: 100%;

      .tabList {
        width: 100%;
        height: 100%;
        border-radius: 5px;

        .tab {
          .wrapClass {
            width: 100%;
          }
        }
      }

      .rightBar {
        display: flex;
        flex-direction: column;
      }
    }
  }

  :global {
    .ant-tabs > .ant-tabs-nav {
      padding: 0 10px;
      margin-bottom: 0;
      background-color: #fff;
    }
  }
}

.backTopWrap {
  right: 20px;
  bottom: 20px;

  .backTop {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: @menu-active;
    color: #fff;
    text-align: center;
    font-size: 14px;

    .topIcon {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 960px) {
  .AuthorContainer {
    max-width: 960px;

    .herderWrap {
      width: 100%;
      max-width: 960px;
    }

    .content {
      width: 100%;
    }
  }
}
