.container {
  .contentWrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding: 9px 0 4px 9px;

    .rightbar {
      margin-right: 3px;
      height: 100%;
    }

    .content {
      display: flex;
      justify-content: center;
    }
  }
}
