@import '~@styles/common.less';

.container {
  position: relative;
  .contentWrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding: 9px 0 9px 9px;

    .rightbar {
      margin-right: 9px;
      height: 100%;
    }

    .content {
      display: flex;
      justify-content: center;

      .emptyWrap {
        .emptyWrap();
      }
    }
  }

  .backTop {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: @menu-active;
    color: #fff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;

    .topIcon {
      font-size: 18px;
    }
  }

  // 吸顶效果样式
  .scrollStyle {
    position: fixed;
    // right: 35px;
    top: 65px;
    width: 260px;
  }
}

@media screen and (max-width: 960px) {
  .container {
    .contentWrap {
      padding: 0;
    }
  }
}

.searchWrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .toSearch {
    padding: 0;
    margin-left: 15px;
  }
}

.iconWrap {
  cursor: pointer;
}
