@import '~@/styles/common.less';

.canvasContainer {
  flex: 1;
  padding: 4px 16px 16px;
  :global(.g2-tooltip) {
    white-space: nowrap;
  }
  :global(.g2-tooltip-value) {
    display: none !important;
  }
}

.emptyContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 4px 16px 16px;
}
