@import "~@styles/layout.less";
@import "~@styles/common.less";

.container {
  width: 100%;
  height: calc(100vh - 100px);

  .wrap {
    height: 100%;
    width: 100%;
    background-color: @content-padding;

    .scrollWrap {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
      background-color: @background;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}
