@import "~@styles/layout.less";

.container {
  width: 100%;
  height: calc(100vh - 100px);

  .wrap {
    height: 100%;
    width: 100%;
    background-color: #efefef;

    .scrollWrap {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
      background-color: #fff;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}
