@import '~@styles/common.less';

.title {
  .info {
    font-size: 12px;
    color: @font-3;
  }
}

.containerClassName {
  height: 320px;

  .scrollWrapStyle {
    background-color: #fff !important;
  }

  .contentStyle {
    padding: 0 !important;
    height: 320px !important;
  }

  .collectionList {
    .collectionItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 75px;
      padding-right: 10px;
      background-color: #fff;
      border-bottom: 1px solid @background;

      .desc {
        flex: 1;
        padding: 10px;
        cursor: pointer;
      }

      .collectionName {
        font-size: 16px;
        margin-bottom: 8px;
        font-weight: 600;

        .lockIcon {
          margin-left: 5px;
          font-size: 14px;
          color: @font-4;
        }
      }

      .collectionCount {
        color: @font-4;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.wrapClassName {
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .addIcon {
      margin-right: 3px;
      color: @menu-active;
    }

    .action {
      width: 88px;
    }
  }

  :global {
    .ant-modal-body {
      padding: 10px 10px;
    }
  }
}
