@import '~@styles/common.less';

.Profile {
  height: 100%;
  margin-left: 9px;
  padding: 0 20px;

  .containerClassName {
    height: calc(100vh - 68px);
  }

  .wrapClassName {
    padding: 0;
  }

  .scrollWrap {
    background-color: #fff !important;
  }

  .header {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 260px;

    .title {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
      margin-bottom: 130px;

      .changeCover {
        border: 1px solid rgba(225, 225, 225, 0.4);
        color: rgba(0, 0, 0, 0.4);

        &:hover {
          background-color: rgba(225, 225, 225, 0.2);
        }
      }
    }

    .mainCoverImg {
      width: auto;
      height: 32px;
    }

    .uploadStyle {
      height: 0;
    }

    .headerWrap {
      display: flex;
      align-items: flex-end;
      margin-left: 20px;
      padding-top: 28px;

      .uploadWrapStyle {
        width: 130px;
        height: 130px;
        top: -30px;
        margin-right: 8px;
      }

      .uploadImg {
        box-sizing: border-box;
        width: 130px;
        height: 130px;
        border-radius: 5px;
        border: 5px solid #fff;
      }

      .markStyle {
        width: 130px;
        height: 130px;
        top: 0;
        left: 0;
      }

      .username {
        margin-left: 30px;
        padding-bottom: 25px;
      }

      .uploadWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 130px;
        height: 130px;
        background-color: @background;
        border: 5px solid #fff;
        border-radius: 5px;
      }
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 95px;
    background-color: #fff;

    .formWrap {
      flex: 1;

      .submit {
        float: right;
        margin-top: 25px;
      }
    }
  }

  :global(.ant-upload.ant-upload-select-picture-card) {
    width: 130px;
    height: 130px;
  }
}

@media screen and (max-width: 960px) {
  .Profile {
    margin-left: 0;
    padding: 0;
  }
}
