@import '~@styles/common.less';

.removeConfirmStyle {
  .antdConform();
}

.darkRemoveConfirmStyle {
  .darkAntdConform();
}

.TagList {
  position: relative;

  .changeIconWrap {
    .changeIconWrap();
  }

  .contentWrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding: 9px 0 9px 9px;

    .rightbar {
      margin-right: 9px;
      height: 100%;
    }

    .content {
      display: flex;
      justify-content: center;
    }
  }

  .changePadding {
    padding: 0 0 9px 9px;
  }
}

.darkIcon {
  color: @dark-fc;
}

@media screen and (max-width: 960px) {
  .TagList {
    .contentWrap {
      padding: 0;
    }
  }
}
