.MSkeleton {
  .skeletonWrap {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    height: 130px;
    padding-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;

    .skeletonAvatar {
      height: 110px;
      width: 200px;
      margin-right: 10px;
      margin-bottom: 0;
      border-radius: 5px;
    }
  }

  .emptyText {
    text-align: center;
    margin: 12px 0;
  }
}
