@import '~@styles/common.less';

.TimeLine {
  position: relative;
  width: 100%;

  .contentWrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding: 9px 0 9px 9px;

    .wrap {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-right: 9px;

      .timelineContent {
        flex: 1;
        padding: 3px 0 0 5px;

        .timelineItem {
          &:last-child {
            padding-bottom: 0;
          }
          .date {
            height: 35px;
            font-size: 25px;
            font-weight: 600;
            line-height: 26px;
          }
        }
      }

      .wrapClass {
        width: 100%;
      }

      .itemClass {
        height: 128px;
        padding-bottom: 15px;

        &:nth-last-child(2) {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:nth-last-child(1) {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }

      .imgWrapStyle {
        width: 200px;
      }

      .cardImgWrapStyle {
        width: 200px;
        height: 110px;
        overflow: hidden;
        border-radius: 5px;
        margin-top: 4px;
      }

      .imgWrapClass {
        position: absolute;
        top: 0;
        height: 110px !important;
        width: auto;
        min-height: 110px !important;
      }

      .skeletonAvatar {
        width: 150px;
        height: 95px;
        margin-bottom: 2px;
      }

      .descClass {
        .ellipsis();
      }

      .emptyWrap {
        .emptyWrap();
        flex: 1;
        padding: 10px 0 20px 0;
      }

      .hasTimeList {
        margin-top: 38px;
      }
    }
  }

  .rightbar {
    margin-top: 38px;
  }

  // 吸顶效果样式
  .scrollStyle {
    position: fixed;
    right: 35px;
    top: 65px;
    width: 260px;
  }

  :global {
    .ant-timeline-item-tail {
      border-left: 2px solid @menu-hover;
    }
    .ant-timeline-item-head {
      background-color: transparent;
    }
    .ant-timeline-item-head-custom {
      top: 12.5px;
    }
    .ant-timeline-item-content {
      top: 0;
      margin: 0 0 0 20px;
    }
  }
}

@media screen and (max-width: 960px) {
  .TimeLine {
    .contentWrap {
      padding: 5px 0 0 2px;
      .wrap {
        padding-right: 0;
        padding-bottom: 10px;

        .itemClass {
          height: 100%;
        }
        .imgWrapClass {
          position: static;
          height: 66px !important;
          min-height: 66px !important;
        }
      }
    }
  }
}
