@import '~@styles/common.less';

.title {
  .info {
    font-size: 12px;
    color: @font-3;
  }
}

.darkTitle {
  color: @dark-fc;

  .info {
    font-size: 12px;
    color: @dark-fc-gray;
  }
}

.containerClassName {
  height: 320px;

  .scrollWrapStyle {
    background-color: @fff !important;
  }

  .contentStyle {
    padding: 0 !important;
    height: 320px !important;
  }

  .collectionList {
    .collectionItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 75px;
      padding-right: 10px;
      background-color: @fff;
      border-bottom: 1px solid @background;

      .desc {
        flex: 1;
        padding: 10px;
        cursor: pointer;
      }

      .collectionName {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin-bottom: 8px;
        font-weight: 600;

        .lockIcon {
          margin-left: 5px;
          font-size: 14px;
          color: @font-4;
        }
      }

      .collectionCount {
        color: @font-4;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    .noMore {
      background-color: @fff;
      border-bottom: 1px solid @background;
      margin-top: 8px;
      height: 30px;
      line-height: 30px;
      text-align: center;
    }
  }
}

.darkContainerClassName {
  .scrollWrapStyle {
    background-color: @dark-bgc-deep !important;
  }

  .collectionList {
    .collectionItem {
      background-color: @dark-bgc-deep;
      color: @dark-fc;
      border-bottom: 1px solid @dark-gray;
    }

    .noMore {
      background-color: @dark-bgc-deep;
      color: @dark-fc;
      border-bottom: none;
    }
  }
}

.wrapClassName {
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .addIcon {
      margin-right: 3px;
      color: @menu-active;
    }

    .action {
      width: 88px;
    }
  }

  :global {
    .ant-modal-body {
      padding: 10px 10px;
    }
  }
}

.darkWrapClassName {
  :global {
    .ant-modal-header {
      background-color: @dark-bgc-deep;
      border-radius: 0;
    }

    .ant-modal-close-x {
      color: @dark-fc;
    }

    .ant-modal-footer {
      background-color: @dark-bgc-deep;
      border-radius: 0;
    }
  }
}
